.partial.index .article-thumb
  height: 80px;
  width: 600px;
  border-radius: 3px;
  border: solid 1px #cfcfcf;
  margin: 5px;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-left: 16px;

.partial.index .title
  margin-left 10px
  font-size 2em
  font-weight bold
  display inline-block
  position: relative;
  top: -6px;

.partial.index .content
  margin-left: 5px;
  margin-top: 5px;

.article-header .avatar
  margin-left 20px

#dependency-frame
  margin-left 20px
  
#buttons
  clear both
  padding-top 15px
  
#main button
  margin-left 10px
  
.changes.rectangular-frame
  clear both
  
.rectangular-frame
  height inherit
  margin: 5px;

.rectangular-frame:not(:first-child)
  margin-left 20px

.score-arrow
  height 37px  
  
#article-score
  width 59px
  font-size 28px
  text-align center
  
.changes .list .preview
  border-bottom 1px solid #eaeaea
  padding-top 5px
  padding-bottom 5px
  
.changes .list preview:first-of-type
  margin-top 16px  
  
.changes .list description
  padding-left 10px
  font-size 19px
  
.changes .list score
  padding-left 7px

.changes .list title
  padding-bottom 10px
  
.dependencies.partial .main-center .rectangular-frame
  width 800px
  
.mega-octicon.empty
  color white
  
.mega-octicon.full
  color rgb(243, 243, 0)
  
.octicon-star
  color rgb(255, 235, 122)
  text-shadow -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  font-size 26px
  
.octicon-arrow-up
  text-shadow -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

.removeDependency
  width 20px
  height 20px
  
.dependency a.article
  font-size 19px
  
.dependency a.dependencies
  font-family monospace

a.deps
  font-family monospace

.dependency .score
  font-family monospace
  display inline-block
  width 50px
  font-size 28px
  text-align right

.dependency .octicon-arrow-up:hover, .dependency .octicon-star:hover
  cursor: pointer