
#dependency-frame
  margin-left 20px
  
#buttons
  clear both
  padding-top 15px
  
#main button
  margin-left 10px
  
#changes-frame
  clear both
  
.rectangular-frame
  height inherit
  margin: 5px;

.rectangular-frame:not(:first-child)
  margin-left 20px

.score-arrow
  height 37px  
  
#article-score
  width 59px
  font-size 28px
  text-align center