#content
  padding-left 0px

#article
  float left

#output
  margin-left 20px

.article-header
  input
    height 1.2em
    width 300px
    font-family monospace
    font-size 1.2em

#second-floor
  clear both
  padding-top 20px

#buttons
  float left
  margin-left 20px

.removeDependency
  width 20px
  height 20px


