.form-outer
  border 2px solid transparent
  border-color rgba(97, 97, 97, 1);
  border-radius 8px
  width 400px
  margin-left 300px
  margin-top 30px
  
.form-inner
  padding 30px

.form-input
  margin-bottom 8px
  width 335px
  height 16px
  border-radius 3px
  border 1px solid #A1A1A1
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding 5px
  font-size 14.3999996185303px

.buttons
  margin-top 20px
  margin-left 180px
  
.buttons button
  margin-left 10px