#searchDo, #avatar, #options
  width 25px

#parentHeader
  background-color black

#childHeader
  padding-top 13px
  padding-bottom 10px
  color white

#search
  width 200px
  margin 0 auto
  margin-left 210px

#searchInput
  border-radius 2px

#logo
  width 201px

#rightHeader
  /* margin-left: 700px; */
  float: right;
  padding-right: 30px;
  padding-top: 16px;

button.login
  margin-right 10px