body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0px
  min-width 1070px
a
  color: #00B7FF
  text-decoration: none;

#main
  margin-top: 10px
  padding: 20px

button
input[type="submit"]
  font-family 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color white
  border 0px solid
  border-radius 3px
  padding 6px 10px 6px 10px
  font-weight bold
  font-size 11px
  background-image -webkit-linear-gradient(top, #18D2E0 0, #20AEC6 100%)
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
  cursor pointer
  
button:hover
  background-color #1C97A4;
  background-image none

.childContainer
  width 1050px
  margin 0 auto

.frame
  padding 20px
  border-radius 3px
  border solid 1px #CFCFCF

.rectangular-frame
  @extend .frame
  width 440px
  height 375px
  float left

.article-content
  width 430px
  height 250px

h1
  display inline

.article-separator
  border-bottom solid 1px
  height 20px
  margin-bottom: 15px;

.article-header
  height 25px

#author
  padding-left 15px

div.article-content
  overflow-y scroll
  
.article-title
  font-size: 1.75em;
  
#output.rectangular-frame
  margin-left 20px

#footer
  height 20px
  clear both

.selected
  background-color #E3E2FF