body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0px
a
  color: #00B7FF
  text-decoration: none;

#main
  margin-top: 10px
  padding: 20px

button
  font-family Arial,sans-serif
  color white
  border 1px solid transparent
  border-radius 3px
  padding 6px 10px 6px 10px
  border-style solid
  font-weight bold
  font-size 11px
  background-color #428bca
  cursor pointer

.childContainer
  width 1050px
  margin 0 auto

.article-frame
  width 440px
  height 375px
  padding 20px
  border-radius 3px
  border solid 1px #CFCFCF

.article-content
  width 430px
  height 250px

h1
  display inline

.article-separator
  border-bottom solid 1px
  height 20px
  margin-bottom: 15px;

.article-header
  height 25px

#author
  padding-left 15px

