body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0px
  min-width 1070px
a
  color: #00B7FF
  text-decoration: none;
  
*:focus
  outline: none

button
input[type="submit"]
  font-family 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color white
  border 0px solid
  border-radius 3px
  padding 6px 10px 6px 10px
  font-weight bold
  font-size 11px
  background-image -webkit-linear-gradient(top, #18D2E0 0, #20AEC6 100%)
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
  cursor pointer
  
button:hover
  background-color #1C97A4;
  background-image none

#main
  margin-top 15px

.main-left
  width 105px
  float left
  
.main-center
  width 1200px
  float left

.childContainer
  width 1050px

.frame
  padding 20px
  border-radius 3px
  border solid 1px #CFCFCF

.rectangular-frame
  @extend .frame
  width 440px
  height 375px
  float left

.article-content
  width 430px
  height 315px

h1
  display inline

.article-separator
  border-bottom solid 1px
  height 20px
  margin-bottom: 15px;

.article-header
  height 25px

#author
  padding-left 15px

div.article-content
  overflow-y scroll
  
.article-title
  font-size: 1.40em;
  
#output.rectangular-frame
  margin-left 20px

#footer
  height 20px
  clear both

.selected
  background-color #E3E2FF
  
.octicon-issue-closed
  color #bd2c00
  
.octicon-issue-opened
  color #6cc644
  
.left
  float left
  
.right
  float right
  
.clear
  clear both
  
.diff
  border: solid rgb(138, 138, 138);
  border-width: 1px;
  border-radius: 5px;
  
.diff.removed
  background-color: rgb(255, 132, 132);
  
.diff.added
  background-color: #B0FFA2;

li
  list-style-type none
  
.avatar
  border-radius 30px