extends layout

prepend scripts
  script.
    guiName = 'ArticleGui'

append styles
  link(rel='stylesheet', href='/stylesheets/article.css')

block main
  input#article-id(type="hidden" value= id)
  include templates/rendered-article

  #buttons
    button#editBtn(href= editUrl) Edit