extends layout

prepend scripts
  script.
    guiName = 'ArticleGui'

append styles
  link(rel='stylesheet', href='/stylesheets/article.css')

block main-left
  input.score-arrow#up-score(type="image" src="/images/up-score.png")
  #article-score
    | 3
  input.score-arrow#down-score(type="image" src="/images/down-score.png")


block main-center
  input#article-id(type="hidden" value= id)
  include templates/viewable-article