extends layout

prepend scripts
  script.
    guiName = 'ArticleGui'

append styles
  link(rel='stylesheet', href='/stylesheets/article.css')

block main
  input#article-id(type="hidden" value= id)
  include templates/viewable-article

  #buttons
    button#addProposal(href= editUrl) Add Proposal
    button#viewProposals(href= viewProposalsUrl) View Proposals