.partial.change(style='display:none')
  .main-left
    include templates/up-score
  .main-center
    .crumb
      a.article-crumb Back to Article 
    .title
    .description
    .state.octicon.left
    .score
    .date
    button.accept Accept change
    include templates/rendered-article