extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/create_article.css')

block content
  textarea#content
  div
    input#create(type="button", value="Create")
    input#cancel(type="button", value="Cancel")