extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/create_article.css')

append scripts
  script(src='scripts/browser/embed-create_article.js')

block content
  textarea#content
  div
    input#create(type="button", value="Create")
    input#cancel(type="button", value="Cancel")