extends layout

prepend scripts
  script.
    guiName = 'EmbedCreateArticle'

append styles
  link(rel='stylesheet', href='/stylesheets/edit_article.css')

block main
  include previewable-article-frame

  #buttons
    button#create Create
    button#cancel Cancel