extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/create_article.css')

prepend scripts
  script.
    guiName = 'EmbedCreateArticle'

block content
  input#title(type="text")
  textarea#content
  div
    input#create(type="button", value="Create")
    input#cancel(type="button", value="Cancel")