.partial.dependencies(style='display:none')
  .main-left &nbsp;
  .main-center
    .crumb
      a.article.crumb Back to Article 
    .rectangular-frame 
      h1 Dependencies
      select.dependency(type="text" placeholder="Type words included in the title of the article you want to depend on...")
      button.add-dependency Add
      ul.dependency.list
    include templates/dependencies
