.partial.dependencies(style='display:none')
  .main-left    
  .main-center
    .crumb
      a.article.crumb Back to Article 
    .rectangular-frame 
      h1 Dependencies
      | title
      input.star(type='image')
      | 3
      input.like(type='image')
      img.avatar(src="/images/avatar.png")
      button dep link
      .title article title