.partial.dependencies(style='display:none')
  .main-left    
  .main-center
    .crumb
      a.article.crumb Back to Article 
    .rectangular-frame 
      h1 Dependencies
      ul.dependency.list
    include templates/dependencies