.partial.dependencies(style='display:none')
  .main-left    
  .main-center
    .crumb
      a.article.crumb Back to Article 
    .rectangular-frame 
      h1 Dependencies
      ul
        li
          span.mega-octicon.octicon-star
          | 3
          span.mega-octicon.octicon-arrow-up
          img.avatar(src="/images/avatar.png")
          a.deps (deps)
          span.title article title