extends layout

prepend scripts
  script.
    guiName = 'EmbedEditArticle'

append styles
  link(rel='stylesheet', href='/stylesheets/edit_article.css')

block content
  textarea#input
  textarea#output
  div
    input#accept(type="button", value="Accept")
    input#cancel(type="button", value="Cancel")