extends layout

prepend scripts
  script.
    guiName = 'EmbedEditArticle'

append scripts
  script(type='text/javascript', src='/scripts/lib/marked.js')

append styles
  link(rel='stylesheet', href='/stylesheets/edit_article.css')

block main
  include previewable-article-frame

  #buttons
    button#saveBtn Save
    button#cancelBtn Cancel