extends layout

prepend scripts
  script.
    guiName = 'EmbedEditArticle'

append styles
  link(rel='stylesheet', href='/stylesheets/article.css')
  link(rel='stylesheet', href='/stylesheets/edit_article.css')

block main
  #article
    h1#title  
    i#author by
    #articleSeparator.marginBottom
    textarea#content
  #preview

  div
    button#saveBtn Save
    button#cancelBtn Cancel