extends layout

prepend scripts
  script.
    guiName = 'EditArticleGui'

append styles
  link(rel='stylesheet', href='/stylesheets/edit_article.css')

block main
  input#article-id(type="hidden" value= id)
  include templates/previewable-article
  #second-floor
    include templates/dependencies
    #buttons
      button#save Save
      button#cancel Cancel