doctype html
html
  head
    meta(charset='utf-16')
    title= title
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel="stylesheet", href="/stylesheets/katex.min.css")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/css/selectize.css")
    script(type='text/javascript', src='/scripts/lib/jquery-2.1.1.js')
    script(type='text/javascript', src='/scripts/lib/diff.js')
    script(type='text/javascript', src='/scripts/lib/marked.js')
    script(type='text/javascript', src='/scripts/embed-layout.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/js/standalone/selectize.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js')
    script(src="/scripts/katex.min.js")

    block styles
    block scripts
    script(type='text/javascript', src='/scripts/app.js')
  body
    include header/header
    #main
      #main-left
        block main-left
      #main-center
        block main-center
    #footer
