extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/login.css')

append scripts
  script(src='scripts/browser/embed-login.js')

block content
  #warnings
  div
    label Username
    input#username(type="text")
  div
    label Password
    input#password(type="password")
  input#login(type="button", value="Log in")
  input#cancel(type="button", value="Cancel")