extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/form.css')
  link(rel='stylesheet', href='/stylesheets/login.css')

prepend scripts
  script.
    guiName = 'LogInGui'

block main
  .form-outer
    form.form-inner
      input.form-input#username(type="text" placeholder="username")
      input.form-input#password(type="password" placeholder="password")
      .buttons
        input#login(type="submit")
        button#cancel Cancel