extends layout

prepend scripts
  script.
    guiName = 'ProposalsGui'

append styles
  link(rel='stylesheet', href='/stylesheets/proposals.css')

block main
  input#article-id(type="hidden" value=id)
  #proposals
    h1 Proposals
    include templates/proposals
  //
    #proposals
    h1 Proposals
    ul
      script#proposals-template(type="x-tmpl-mustache") 
        {{#deps}}
        li.proposal
          input.proposal(type="hidden" value="{{id}}")
          img.avatar(src="/images/avatar.png")
          a.title(href="{{url}}") {{title}}
          i  by Him 
        {{/deps}}


