extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/form.css')
  link(rel='stylesheet', href='/stylesheets/register.css')

prepend scripts
  script.
    guiName = 'RegisterGui'

block main
  .form-outer
    form.form-inner
      input.form-input#username(type="text" placeholder="username")
      input.form-input#password(type="password" placeholder="password")
      input.form-input#repeat-password(type="password" placeholder="repeat password")
      input.form-input#email(type="text" placeholder="email")
      input.form-input#repeat-email(type="text" placeholder="repeat email")
      .buttons
        input#register(type="submit" value="Register")
        button#cancel Cancel