extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/register.css')

prepend scripts
  script.
    guiName = 'RegisterGui'

block main
  #register-outer
    #register-inner
      .input
        input#username(type="text" placeholder="username")
      .input
        input#password(type="password" placeholder="password")
      .input
        input#repeat-password(type="password" placeholder="repeat password")
      .input
        input#email(type="text" placeholder="email")
      .input
        input#repeat-email(type="text" placeholder="repeat email")
      #buttons
        button#register Register
        button#cancel Cancel