extends layout

block content
  div
    label username
    input#username(type="text")
  div
    label Email
    input#email(type="text")
  div
    label Repeat Email
    input#repeat-email(type="text")
  div
    label Password
    input#password(type="password")
  div
    label Repeat Password
    input#email(type="password")
  input#Register(type="button")
  input#Cancel(type="button")