extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/article.css')

prepend scripts
  if user
    script.
      userId= !{JSON.stringify(user.id)};

block main
  .partials
    include index
    include article
    include create_article
    include edit_article
    include change
    include dependencies
    include user
    include edit-user
