extends layout

append styles
  link(rel='stylesheet', href='/stylesheets/article.css')

block main
  include index
  include article
  include create_article
  include edit_article
  include change
  include dependencies
