prepend scripts
  script.
    headerName = 'LoggedHeaderGui'

span#rightHeader
  img#avatar(src="/images/avatar.png")
  | #{user.username}
  input#options(type="image", src="/images/wrench.png")
  button(onclick="location.href = '/logout'") Log out