span#rightHeader
  a#avatar(type="image")
    img(src= user.avatar_url)
  a.username #{user.username}
  input#options(type="image", src="/images/wrench.png")
  button(onclick="location.href = '/logout'") Log out