script#changes-template(type="x-tmpl-mustache")
  | {{#changes}}
  .icon 
    img(src="{{icon}}")
  .score {{score}}
  .description 
    a(href="{{url}}") {{description}}
  .avatar 
    img(src="{{avatar}}")
  .date {{date}}
  | {{/changes}}
