script.template(type="x-tmpl-mustache")
  | {{#changes}}
  .preview
    .octicon.left(class="{{octicon}}")
    .left
      .score.left {{score}}
      .description.left
        a(href="{{url}}") {{description}}
    .avatar.right
      img(src="{{avatar}}" title="{{author}}")
    .date.clear {{date}}
  | {{/changes}}
