script#changes-template(type="x-tmpl-mustache")
  | {{#changes}}
  .change-preview
    .octicon(class="{{octicon}}")
    .score {{score}}
    .description 
      a(href="{{url}}") {{description}}
    .avatar 
      img(src="{{avatar}}")
    .date {{date}}
  | {{/changes}}
