script#changes-template(type="x-tmpl-mustache")
  | {{#changes}}
  .change-preview
    .octicon.left(class="{{octicon}}")
    .left
      .change-score.left {{score}}
      .change-description.left
        a(href="{{url}}") {{description}}
    .change-avatar.right
      img(src="{{avatar}}" title="{{author}}")
    .change-date.clear {{date}}
  | {{/changes}}
