#dependencies.rectangular-frame
  h1 Dependencies
  ul
    script#dependencies-template(type="x-tmpl-mustache")
      li
        img.avatar(src="/images/avatar.png")
        | {{#dependencies}}
        a.title(href="{{url}}") {{title}}
        i by {{author}}
        | {{/dependencies}}

    input#dependencyFound(type="text") 
    button#add Add dependency