#dependency-frame.rectangular-frame
  h1 Dependencies
  ul#Dependencies
    li 
      img.avatar(src="/images/avatar.png")
      | How to do massive damage, 
      i by 
        a(href='/user/') Michael
    li 
      img.avatar(src="/images/avatar.png")
      | How to do open a cabinet, 
      i by 
        a(href='/user/') John
    li 
      img.avatar(src="/images/avatar.png")
      | How to do stop a Car, 
      i by 
        a(href='/user/') Tim
    li 
      img.avatar(src="/images/avatar.png")
      | How to be the most awesome wife ever, 
      i by 
        a(href='/user/') Romina
