script.template(type="x-tmpl-mustache")
  li
    | {{#dependencies}}
    .dependency
      input.dependency-id(type='hidden' value='{{dependencyId}}')
      span.mega-octicon.octicon-star(style='{{starStyle}}')
      span.mega-octicon.octicon-star.empty(style='{{emptyStarStyle}}')
      | {{score}}
      span.mega-octicon.octicon-arrow-up(style='{{arrowUpStyle}}')
      span.mega-octicon.octicon-arrow-up.empty(style='{{emptyArrowUpStyle}}')
      img.avatar(src="/images/avatar.png")
      a.article(href='{{articleUrl}}')  {{title}}
      a.dependencies(href='{{dependencyUrl}}')  (deps)
      input.removeDependency(type="image" src="/images/remove.png")
    | {{/dependencies}}