script.template(type="x-tmpl-mustache")
  li
    | {{#dependencies}}
    .dependency.template
      input.dependency-id(type='hidden' val='{{dependencyId}}')
      span.mega-octicon.octicon-star
      | {{score}}
      span.mega-octicon.octicon-arrow-up
      img.avatar(src="/images/avatar.png")
      a.dependencies(href='{{dependencyUrl}}')  (deps)
      a.article(href='{{articleUrl}}')  {{title}}
    | {{/dependencies}}