#dependencies.rectangular-frame
  h1 Dependencies
  ul
    script#dependencies-template(type="x-tmpl-mustache") 
      {{#deps}}
      li.dependency
        input.dependencyId(type="hidden" value="{{id}}")
        img.avatar(src="/images/avatar.png")
        a.title(href="{{url}}") {{title}}
        i  by Him 
        input.removeDependency(type="image" src="/images/remove.png")
      {{/deps}}
  select#dependencyFound(type="text" placeholder="Type words included in the title of the article you want to depend on...")
  button#add Add Dependency