#proposals
  ul
    script#proposals-template(type="x-tmpl-mustache") 
      {{#props}}
      .frame
        input#proposal-id(type="hidden" value="{{proposalId}}")
        img.avatar(src="/images/avatar.png")
        a.description(href="{{url}}") {{description}}
        i  by Him 
      {{/props}}
