input.score-arrow.up-score#up-score-on(type="image" src="/images/up-score-on.png" style="display:none")
input.score-arrow.up-score#up-score-off(type="image" src="/images/up-score-off.png")
#article-score
  | 0
input.score-arrow.down-score#down-score-on(type="image" src="/images/down-score-on.png" style="display:none")
input.score-arrow.down-score#down-score-off(type="image" src="/images/down-score-off.png")