input.score-arrow.up-score-arrow(type="image" src="/images/up-score.png")
#article-score
  | 3
input.score-arrow.down-score-arrow(type="image" src="/images/down-score.png")
include rendered-article
.rectangular-frame
  h1 Information
