.partial.article-partial(style='display:none')
  .main-left
    input.score-arrow.up-score#up-score-on(type="image" src="/images/up-score-on.png" style="display:none")
    input.score-arrow.up-score#up-score-off(type="image" src="/images/up-score-off.png")
    #article-score
      | 3
    input.score-arrow.down-score#down-score-on(type="image" src="/images/down-score-on.png" style="display:none")
    input.score-arrow.down-score#down-score-off(type="image" src="/images/down-score-off.png")

  .main-center
    .crumb
      a#article-crumb Article
    include ../templates/viewable-article
    a#editArticle(href= edit_url) Edit