.partial.edit-article-partial(style='display:none')
  .main-left

  .main-center
    .crumb
      a#article-crumb Article 
      | > 
      a#edit-article-crumb Edit article 
    include ../templates/previewable-article
